import { createMeshConfig } from "@baditaflorin/mesh-common";

export const config = createMeshConfig({
  appName: "__APP_NAME__",
  description: "__DESCRIPTION__",
  accentHex: "__ACCENT__",
  version: __APP_VERSION__,
  commit: __GIT_COMMIT__,
});
